{% extends "admin/adminbase.html" %}

{% block content %}
	<h1>Admin</h1>

	<h2>Competition management</h2>
	<ul>
		<li><a href="/admin/competitions">Competition management</a></li>
		<li><a href="/admin/user-management">User management</a></li>
		<li><a href="/admin/view-recent-submissions/900">View recent submissions</a></li>
		<li><a href="/admin/problem-topics">Problem topic management</a></li>
	</ul>

	<h2>Tournament management</h2>
	<ul>
		<li><a href="/admin/tournaments">Tournament management</a></li>
		<li><a href="/admin/upload-game">Upload game</a></li>
		<li><a href="/admin/edit-game">Edit games</a></li>
		<li><a href="/admin/delete-game">Delete games</a></li>
	</ul>
{% endblock %}